@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div>
    <iframe src="@Model.Content.Value("uRL")" frameborder="0" allowfullscreen></iframe>
</div>