html, boby {
    width: 100%;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 75%;
}

nav {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 750px;
}

.grid-section > div {
    margin-bottom: 2rem;
}

button {
    margin-bottom: 2rem;
}

footer {
    font-size: 1.25rem;
}